<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Advanced Search</title>
        <link rel="stylesheet" href="/project0/static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>

        <div class="container">
            <div class="center">
                <form class="center"action="https://www.google.com/search">
                    <p>All these words:</p>
                    <input class="adv_bar" type="text" name="as_q">
                    <p>This exact word or phrase:</p>
                    <input class="adv_bar" type="text" name="as_epq">
                    <p>Any of these words:</p>
                    <input class="adv_bar" type="text" name="as_oq">
                    <p>None of these words:</p>
                    <input class="adv_bar" type="text" name="as_eq">
                    <input class="adv_bar" type="submit" value="Advanced Search">
                </form>
            </div>
        </div>

        <div id="links">
            <a href="index.html">Google Search</a>
        </div>

    </body>
</html>
