<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google Images</title>
        <link rel="stylesheet" href="/project0/static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>

        <img id="logo" src="/project0/static/google.png">

        <div class="container">
            <div class="center">
                <form class="center" action="https://www.google.com/images">
                    <input id="search_bar" type="text" name="q">
                    <input id= "search_button" type="submit" value="Google Images">
                </form>
            </div>
        </div>
        
        <div id="links">
            <a href="index.html">Google Search</a>
        </div>

    </body>
</html>
