<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Google Search</title>
        <link rel="stylesheet" href="/project0/static/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        
        <img id="logo" src="/project0/static/google.png">

        <div class="container">
            <div class="center">
                <form class="center" action="https://google.com/search">
                    <input id="search_bar" type="text" name="q">
                    <input id="search_button" type="submit" value="Google Search">
                    <input id="lucky_button" type="submit" value="I'm Feeling Lucky">
                </form>
                <p id="language">Google offered in: Português (Portugal)</p>
            </div>
        </div>

        <div id="links">
            <a href="images.html">Images</a>
            <a href="advanced.html">Advanced Search </a>
        </div>
        
    </body>
</html>
